/* -------------------- GENERIC -------------------- */
body {
    background: none repeat scroll 0 0 white;
    margin: 0 auto;
    max-width: 960px;
}

fieldset legend, h1, h2, a {
    color: #393b3c;
}

ul#menu * {
    background-color: #393b3c;
}

div#container input[type=submit] {
    background: #393B3C;
    text-shadow: none;
}

/* Acomodar los mensajes de sistema */
div#authMessage, div#flashMessage {
    margin: 1% auto;
    text-align: center;
    width: 720px;
}

/* Paginador botones first y last */
.paging .first {
    border-radius: 4px 0 0 4px;
    border-style: solid none solid solid;
    border-width: 1px;
    margin-right: -3px;
}

.paging .last {
    border-radius: 0 4px 4px 0;
    margin-left: -3px;
}

/* ocultar los menús y enlaces de acciones que se generan por defecto */
div.actions {
    display: none;
    float: none;
    padding: 0;
    width: 0;
}

/* Acomodar el menú a la derecha */
ul#menu {
    float: right;
    width: auto;
}

/* Acomodar el tamaño del menu y textos */
.sf-menu > li > a, .sf-menu a {
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
}

/* ajustar el tamaño del contenido para acomodar con el espacio que ha quedado en blanco */
div.form, div.index, div.view {
    border-left: 0 none;
    float: none;
    padding: 5px 0;
    width: 100%;
}

/* -------------------- FRONT -------------------- */
/* Formulario para imprimir la etiqueta */
form#label-form {
    width: 100%;
}

#content.layout-front {
    background: none repeat scroll 0 0 white;
}

form#label-form div#flashMessage {
    width: 90%;
}

form#label-form label {
    float: left;
    padding: 4px 0;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
}

form#label-form input, form#label-form select {
    margin-left: 10px;
    max-width: 70%;
    text-align: center;
    font-size: 12px;
}

form#label-form .submit input {
    margin-left: 0;
    max-width: 70%;
    text-align: center;
}

form#label-form .input.text {
    margin: 0;
    padding: 5px;
    width: auto;
}

form#label-form fieldset {
    border: 1px solid #000000;
}

.wrapper.height1 fieldset {
    min-height: 80px;
}

.wrapper.image, .wrapper.submit {
    text-align: center;
    width: 100%;
}

.logo {
    width: 100%;
}

div.preview {
    margin: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wrapper.inputs .wrapper.left {
    clear: none;
    display: block;
    float: left;
    width: 40%;
}

.wrapper.inputs .wrapper.mid {
    clear: none;
    display: block;
    float: left;
    width: 18%;
}

.wrapper.inputs .wrapper.right {
    clear: none;
    display: block;
    float: right;
    width: 37%;
}

.wrapper.inputs .wrapper.right .input {
    clear: none;
    display: block;
    float: left;
    min-width: 200px;
}

.wrapper.inputs .wrapper.right .actions {
    clear: none;
    display: block;
    float: right;
    margin-top: 5px;
    width: 120px;
}

.wrapper.inputs .wrapper.right .actions a {
    font-size: 12px;
    font-weight: bold;
}

.wrapper.inputs fieldset {
    min-height: 71px;
    padding: 1%;
}

#LabelTandaBase {
    width: 80px;
}

.wrapper.left, .wrapper.right {
    display: inline-block;
    width: 48%;
}

.wrapper.right {
    float: right;
}

.wrapper.printers div {
    margin: 0 auto;
    width: 384px;
}

form#label-form .barcode, form#label-form .namecode {
    border: 0 none;
    display: inline-block;
    width: 48%;
}

.namecode {
    float: right;
}

img#label-preview-image {
    display: block;
    margin: auto;
    background: ThreeDFace;
    padding: 10px;
    border-radius: 5px;
}

/* Ajustar la ventana de login */
div.login {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
}

div.login form * {
    margin: 6px auto 0;
    text-align: center;
}

div.login fieldset {
    position: relative;
}

div.login legend {
    left: 12%;
    position: absolute;
    top: -15px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete * {
    font-size: 12px;
}

/* -------------------- BACK -------------------- */
#content.layout-back {
    padding: 10px 0 40px;
}

.filtros * {
    font-size: 12px;
    line-height: 24px;
}

.filtros {
    background-color: threedface;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.filtros .title {
    color: #393b3c;
    font-weight: bold;
}

.filtros td {
    border: 0 none;
}

.filtros input[type=submit] {
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 5px;
}

.backups.form.csv label {
    display: inline-block;
    float: left;
    font-size: 24px;
    line-height: 48px;
}

.backups.form.csv input {
    display: inline-block;
    float: none;
    margin: 0 30px;
    max-width: 50%;
}

#BackupSeparador {
    max-width: 20px;
    text-align: center;
}